NET "r<4>" LOC = P51 | IOSTANDARD = LVTTL;
NET "r<6>" LOC = P41 | IOSTANDARD = LVTTL;
NET "c<1>" LOC = P35 | IOSTANDARD = LVTTL;
NET "c<2>" LOC = P33 | IOSTANDARD = LVTTL;
NET "r<7>" LOC = P30 | IOSTANDARD = LVTTL;
NET "c<4>" LOC = P27 | IOSTANDARD = LVTTL;
NET "r<5>" LOC = P24 | IOSTANDARD = LVTTL;
NET "r<2>" LOC = P22 | IOSTANDARD = LVTTL;

NET "c<7>" LOC = P50 | IOSTANDARD = LVTTL;
NET "c<6>" LOC = P40 | IOSTANDARD = LVTTL;
NET "r<1>" LOC = P34 | IOSTANDARD = LVTTL;
NET "c<0>" LOC = P32 | IOSTANDARD = LVTTL;
NET "r<3>" LOC = P29 | IOSTANDARD = LVTTL;
NET "c<5>" LOC = P26 | IOSTANDARD = LVTTL;
NET "c<3>" LOC = P23 | IOSTANDARD = LVTTL;
NET "r<0>" LOC = P21 | IOSTANDARD = LVTTL;




NET "r2<4>" LOC = P15 | IOSTANDARD = LVTTL;
NET "r2<6>" LOC = P12 | IOSTANDARD = LVTTL;
NET "c2<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "c2<2>" LOC = P8 | IOSTANDARD = LVTTL;
NET "r2<7>" LOC = P6 | IOSTANDARD = LVTTL;
NET "c2<4>" LOC = P2 | IOSTANDARD = LVTTL;
NET "r2<5>" LOC = P144 | IOSTANDARD = LVTTL;
NET "r2<2>" LOC = P142 | IOSTANDARD = LVTTL;

NET "c2<7>" LOC = P14 | IOSTANDARD = LVTTL;
NET "c2<6>" LOC = P11 | IOSTANDARD = LVTTL;
NET "r2<1>" LOC = P9 | IOSTANDARD = LVTTL;
NET "c2<0>" LOC = P7 | IOSTANDARD = LVTTL;
NET "r2<3>" LOC = P5 | IOSTANDARD = LVTTL;
NET "c2<5>" LOC = P1 | IOSTANDARD = LVTTL;
NET "c2<3>" LOC = P143 | IOSTANDARD = LVTTL;
NET "r2<0>" LOC = P131 | IOSTANDARD = LVTTL;






NET "keys<0>" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<1>" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<2>" LOC = P75 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<3>" LOC = P79 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<4>" LOC = P81 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<5>" LOC = P83 | IOSTANDARD = LVTTL | PULLUP;
NET "keys<6>" LOC = P85 | IOSTANDARD = LVTTL | PULLUP;



NET "btn_left" LOC = P112 | IOSTANDARD = LVTTL | PULLUP;
NET "btn_ok" LOC = P115 | IOSTANDARD = LVTTL | PULLUP;
NET "btn_down" LOC = P117 | IOSTANDARD = LVTTL | PULLUP;
NET "btn_up" LOC = P119 | IOSTANDARD = LVTTL | PULLUP;
NET "btn_right" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;




NET "yellow<0>" LOC = P88 | IOSTANDARD = LVTTL;
NET "yellow<1>" LOC = P93 | IOSTANDARD = LVTTL;
NET "yellow<2>" LOC = P95 | IOSTANDARD = LVTTL;

NET "green<0>" LOC = P98 | IOSTANDARD = LVTTL;
NET "green<1>" LOC = P100 | IOSTANDARD = LVTTL;

NET "speaker" LOC = P116 | IOSTANDARD = LVTTL;

NET "sevenseg1<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "sevenseg1<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "sevenseg1<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "sevenseg1<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "sevenseg1<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "sevenseg1<5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "sevenseg1<6>" LOC = P84 | IOSTANDARD = LVTTL;
NET "sevenseg1<7>" LOC = P87 | IOSTANDARD = LVTTL;

NET "sevenseg2<0>" LOC = P92 | IOSTANDARD = LVTTL;
NET "sevenseg2<1>" LOC = P94 | IOSTANDARD = LVTTL;
NET "sevenseg2<2>" LOC = P134 | IOSTANDARD = LVTTL;
NET "sevenseg2<3>" LOC = P99 | IOSTANDARD = LVTTL;
NET "sevenseg2<4>" LOC = P101 | IOSTANDARD = LVTTL;
NET "sevenseg2<5>" LOC = P104 | IOSTANDARD = LVTTL;
NET "sevenseg2<6>" LOC = P138 | IOSTANDARD = LVTTL;
NET "sevenseg2<7>" LOC = P114 | IOSTANDARD = LVTTL;



